[Bb]in
[Gg]en

NexplorerGWT/.gwt/
NexplorerGWT/gwt-unitCache/
NexplorerGWT/test-classes/
NexplorerGWT/war/de.unipotsdam.nexplorer.MobileGWT/
NexplorerGWT/war/de.unipotsdam.nexplorer.IndoorGWT/
NexplorerGWT/war/indoorgwt/
NexplorerGWT/war/mobilegwt/
NexplorerGWT/war/nexplorergwt/
NexplorerGWT/war/logs
NexplorerGWT/war/WEB-INF/deploy/
NexplorerGWT/war/WEB-INF/classes/
NexplorerGWT/war/js/.idea/
NexplorerGWT/war/js/.settings/
NexplorerGWT/war/js/.nbproject/
